{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}


<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
{% block body %}

<div class = 'jumbotron'>
<div class = container id = 'jumbotron-container'>

<form class="form-signin" role="form" method="post" action=".">
{% csrf_token %}

<h2 class="form-signin-heading text-white center">Please log in</h2>

{% if form.errors %}
    <div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
    {% endif %}
	
<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
<input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Log in</button>
</form>

{% if form.non_field_errors %}
				<span class="help-block text-white" align="center">
				The username and password combination was incorrect
				{% endif %}
				</span>

<h3 align = "center" class = 'text-white'>Not a Member? <a href="{% url 'registration_register' %}">Register Here</a></h3>
</div>
</div>	


{% endblock %}
