{% extends "base.html" %}

{% load staticfiles %}

{% block body %}
<form method="post" action="." style="max-width:750px">
  {% csrf_token %} 
  {% if form.errors %}
    <div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
    {% endif %}
	
	<div class="form-group">
    <p class="required"><label for="id_old_password">Old Password:</label>
        <input class="form-control" id="id_old_password" name="old_password" type="password" placeholder="Enter old password" required/></p> 
			{% if form.old_password.errors %}
				<span class="help-block">
				The old password is incorrect 
				{% endif %}
				</span>
			</div>
			
	<div class="form-group">
    <p class="required"><label for="id_new_password1">Password:</label>
        <input class="form-control" id="id_new_password1" name="new_password1" type="password" placeholder="Enter new password" required/></p> 
			{% if form.new_password2.errors %}
				<span class="help-block">
				The passwords do not match
				{% endif %}
				</span>
			</div>
			
			
	<div class="form-group">
    <p class="required"><label for="id_new_password2">Password:</label>
        <input class="form-control" id="id_new_password2" name="new_password2" type="password" placeholder="Enter new password again" required/></p>
		{% if form.new_password2.errors %}
				<span class="help-block">
				The passwords do not match
				{% endif %}
				</span> 
			</div>
	

  <input type="submit" value="Submit" />

</form>
{% endblock %}