{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}All Categories{% endblock %}

{% block body %}
  <div class="container">
    {% if categories %}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
          </br>
          <div class="panel-body">
          <div class="list-group">
          {% for result in categories %}
          <div class="list-group-item">
          <h4 class="list-group-item-heading"><a href="{% url 'category'  result.slug %}">{{ result.title }}</a> <span class="badge">{{result.total_stories}}</span></h4>
        </div>
      {% endfor %}
      </div>
      </div>
        </div>
    {% else %}
      <h2 class="text-white">There are no categories containing your search parameters</h2>
    {% endif %}
  </div>

{% endblock %}
