{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}All Categories{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container" id="jumbotron-container">
      {% if user.is_authenticated %}
      <h1>Post story will go here.</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      <div class="right-align">
      <button id="help" class="btn btn-default btn-xs" onclick="showGif()"><span class="glyphicon glyphicon-question-sign"></span> Help</button>
      <button id="less" class="btn btn-default btn-xs" onclick="hideGif()"/><span class="glyphicon glyphicon-question-sign"></span> Less</button>
      <div><img src = "" id = "static/images/explanationgif.gif"/>
      </div>
      <p>...</p>
      {% else %}
      <img class="center-block" id="explanation-gif" src="{% static "images/explanationgif.gif" %}" alt="" />
      {% endif %}
  </div>
</div>
<div id="main-content">
	<div class="container">
      {% if categories %}
	  <h2 class = "text-white">All Categories</h2>
	  <ul>
      {% for category in categories %}
				<li><a href="/patchwords/category/{{category.slug}}"><h3 class="text-white">{{category.title}}</h3></a></li>
      {% endfor %}
	  </ul>
      {% else %}
                <strong>No Categories exist at the moment, sorry</strong>
      {% endif %}
	  </div>
</div>
{% endblock %}
