<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}Patchwords{% endblock %}</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
<link href="{% static "css/base.css" %}" rel="stylesheet"></link>
{% block css_imports %}{% endblock %}


<nav class="navbar navbar-default background-red no-border no-margin">
  <div class="container-fluid">
    <div class="navbar-header text-white">
          <a class="navbar-brand text-white" href="/patchwords/">Patchwords</a>
        </div>

    <form class="navbar-form" role="search">
      <div class="col-sm-6 col-sm-offset-3">
        <div id="imaginary_container">
          <select class="btn btn-default" id="dropdownMenu">
            <option value="All">All</option>
            <option value="Stories">Stories</option>
            <option value="Categories">Categories</option>
            <option value="Users">Users</option>
          </select>
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control"  id="SearchInput"  placeholder="Search" >
              <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
              <span class="input-group-addon">
                <button type="button" onclick="window.location='/patchwords/search/'+document.getElementById('SearchInput').value+'/?filter='+document.getElementById('dropdownMenu').value">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
      </div>
    </div>
    </form>

      {% if user.is_authenticated %}
          <h4>
      <a class="navbar-text" href="{% url 'profile' user.username%}">{{ user.username }}</a>
      <a class="navbar-text" href="{% url 'auth_logout' %}?next=/patchwords/">Logout</a>
      {% else %}
              <h4>
      <a class="navbar-text" href="{% url 'auth_login' %}?next=/patchwords/">Login</a>
      <a class="navbar-text" href="{% url 'registration_register' %}">Register Here</a>
          </h4>
      {% endif %}
</nav>
</head>

<body class="background-red">
  <div>
    {% block body %}{% endblock %}
  </div>
</body>

<footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-dropdown.js"></script>
  {% block js_imports %}{% endblock %}
</footer>
</html>
