<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}Patchwords{% endblock %}</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"></link>
<link href="{% static "css/base.css" %}" rel="stylesheet"></link>
{% block css_imports %}{% endblock %}


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Patchwords</a>
    <form class="navbar-form" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Find stories, users, paragraphs."></input>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            Search
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
    </form>

  <div class="nav navbar-nav navbar-right">
    <a href="#">
      {% if user.is_authenticated %}
        {{ user.username }}
        <li><a href="{% url 'auth_logout' %}?next=/patchwords/">Logout</a></li>
      {% else %}
        <li><a href="{% url 'auth_login' %}?next=/patchwords/">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Register Here</a></li>
      {% endif %}
    </a>
  </div>
</div>

</nav>

</head>

<body>
  <div>
    {% block body %}{% endblock %}
  </div>
</body>

<footer>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  {% block js_imports %}{% endblock %}
</footer>
</html>