{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Patchwords Home{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container" id="jumbotron-container">
      {% if user.is_authenticated %}
      <h1>Post story will go here.</h1>
      <script type = "text/javascript">
      window.onload = function hideMinimise()
      {
          document.getElementById("Minimise").style.display='none';
      }
        function showGif()
        {
            document.getElementById("static/images/explanationgif.gif").src="{% static "images/explanationgif.gif" %}";
            document.getElementById("static/images/explanationgif.gif").style.display='block';
            document.getElementById('Learn more').style.display = 'none';
            document.getElementById('Minimise').style.display = 'block';
        }
      function hideGif()
        {
            document.getElementById("static/images/explanationgif.gif").style.display = 'none'
            document.getElementById('Learn more').style.display = 'block';
            document.getElementById('Minimise').style.display = 'none'
        }
      </script>
      <img src = "" id = "static/images/explanationgif.gif"/> <input id ="Learn more" class = "btn btn-primary btn-lg"type="button" value="Learn more" onclick="showGif()"/>
      <input id="Minimise" class = "btn btn-primary btn-lg" type="button" value="Minimise" onclick = "hideGif()"/>
      <p>...</p>
      {% else %}
      <img class="center-block" id="explanation-gif" src="{% static "images/explanationgif.gif" %}" alt="" />
      {% endif %}
  </div>
</div>
<div class="background-red" id="main-content">
  <div class="container">
    <div class="row">
      <h2 class="pull-left text-white">Categories</h2>
      <h3 class="pull-right text-white"><a href="{% url 'all_categories' %}" class="text-white">view all</a><span class="glyphicon glyphicon-chevron-right"></span></h3>
    </div>

    <div class="content-section" id="categories-section">
      {% if categories %}
        <ul id="categories-list">
        {% for c in categories %}
                <li><a href="{% url 'category' c.slug %}">{{c.title}} <span class="badge">{{c.total_stories}}</span></a></li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>

    <br></br>

    <div class="row">
      <h2 class="pull-left text-white">Top Stories</h2>
    </div>

    <div id="content-section stories-section">
      {% if stories %}
        {% include 'stories_list.html' %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block js_imports %}
  <script src="{% static 'js/getMoreStories.js' %}"></script>
  <script charset="utf-8">
    categoryTitle = ""; //In the category pages, this will be used to filter by category using {{category.title}}
  </script>
{% endblock %}
