{% extends 'base.html' %}

{% load staticfiles %}

{% block css_imports %}
<link href="{% static "css/profile.css" %}" rel="stylesheet"></link>
{% endblock %}

{% block title %}{{ current_user.username }}{% endblock %}

{% block body %}
<div class="page-header">
		<h1>{{ current_user.username }}</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4">
			{% if user_profile.picture.url %}
			<img src="{{ user_profile.picture.url }}"/>
			{% else %}
			{% endif %}
		</div>
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading"><b>Info</b></div>
						<ul class="list-group">
						{% if user_profile.bio %}
						<li class="list-group-item">
							<p><b>Bio: </b><span>{{ user_profile.bio }}</span></p>
						{% endif %}
						</li>
						{% if user.email %}
							<li class="list-group-item">
								<p><b>Email address: </b><span>{{ current_user.email }}</span></p>
									{% endif %}
							</li>
							{% if user_profile.date_of_birth %}
							<li class="list-group-item">
									<p><b>Age: </b><span>{{ user_profile.age }}</span></p>
								{% endif %}
							</li>
							{% if user_profile.gender %}
							<li class="list-group-item">
								<p><b>Gender: </b><span>{{ user_profile.gender }}</span></p>
								{% endif %}
							</li>
                            {% if user_profile.total_likes %}
                              <li class="list-group-item">
							    <p><b>Total likes: </b><span>{{ user_profile.total_likes }}</span></p>
							  {% endif %}
							</li>
						</ul>
					</div>
					{% if flag %}
						<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-cog"></span>
						<a href="{% url 'edit_profile' %}">Edit Profile</a>
						</button>
					{% endif %}
			</div>
		</div>

{% endblock %}
