{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block body %}
<div class="panel panel-primary">
    {% if cat == 'All' or cat == 'Stories' %}
      {% if story_results %}
        <div class="panel-heading">
          <h1 class="panel-title">Stories</h1>
        </div>
          </br>
          <div class="panel-body">
          <div class="list-group">
          {% for result in story_results %}
              <div class="list-group-item">
              <h4 class="list-group-item-heading"><a href="{% url 'story'  result.slug %}">{{ result.title }}</a></h4>
              </div>
          {% endfor %}
          </div>
          </div>
      {% endif %}
    {% endif %}

    {% if cat == 'All' or cat == 'Users' %}
    {% if user_results %}
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
        </br>
        <div class="panel-body">
        <div class="list-group">
        {% for result in user_results %}
            <div class="list-group-item">
            <h4 class="list-group-item-heading"><a href="{% url 'profile'  result.username %}">{{ result.username }}</a></h4>
            </div>
        {% endfor %}
        </div>
        </div>
    {% endif %}
    {% endif %}

    {% if cat == 'All' or cat == "Categories" %}
      {% if category_results %}
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
          </br>
          <div class="panel-body">
          <div class="list-group">
          {% for result in category_results %}
            <div class="list-group-item">
            <h4 class="list-group-item-heading"><a href="{% url 'category'  result.slug %}">{{ result.title }}</a></h4>
          </div>
        {% endfor %}
        </div>
        </div>
      {% endif %}
    {% endif %}
</div>

{% endblock %}