<div id="stories-list">
  {% if stories %}
  {% for story in stories %}
  <a href="{% url 'story' 'hi' %}">
    <div class="story-item">
        <div class="story-item-title">
          <h4 class="story-title">
            {{story.title}}
          </h4>
          <p class="text-muted story-author">
            by {{story.author}}
          </p>
        </div>
        <div class="story-item-content">
          {% if story.outline%}
            {{story.outline}}
          {% else %}
            <span class="text-muted">There aint no description for this story...</span>
          {% endif %}
        </div>
        <div class="story-item-favourites">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{story.favourites}}
        </div>
    </div>
  </a>
  {% endfor %}
  {% else %}
  <h2>
    Soz, bro - We're all out of stories.
  </h2>
  {% endif %}
</div>
