{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{story.slug}} {% endblock %}

{% block css_imports %}
  <link href="{% static 'css/stories.css' %}" rel="stylesheet"></link>
{% endblock %}


{% block body %}

  {% if story%}

  <h1>{{story.title}}</h1>
  <a class="text-muted" href="#"><em>by {{story.author}}</em></a>

  <div class='row story-row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel">

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <p>{{root_paragraph.content}}</p>
                  <small>{{root_paragraph.author}}</small>
                  <small>id {{root_paragraph.id}}</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'story_block.html' %}

  {% else %}
    <h2 class="text-center text-white">Sorry - we couldn't find the story you're looking for.</h2>
  {% endif %}

{% endblock %}


{% block js_imports %}
  <script src="{% static 'js/storyCarousel.js' %}"></script>
{% endblock %}
