<div id="stories-list">
  {% if stories %}
  {% for story in stories %}
    <div class="story-item">
      <div class="story-item-content-wrapper">
        <div class="story-item-title">
          <h4 class="story-title">
            {{story.title}}
          </h4>
          <p class="text-muted story-author">
            {{story.author}}
          </p>
        </div>
        <div class="story-item-content">
          {{story.outline}}
        </div>
      </div>
      <div class="story-item-favourites-wrapper">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{story.favourites}}
      </div>
    </div>
  {% endfor %}
  {% else %}
  <h2>
    Soz, bro - We're all out of stories.
  </h2>
  {% endif %}
</div>
