{% load stories_tags %}
{% load humanize %}

<div class='row story-row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel{{paragraphs.0.id}}">

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          {% for paragraph in paragraphs %}

          <!-- Quote 1 -->
          <div class="item {% if forloop.first %} active {% endif %}" paragraph-id="{{paragraph.id}}">
            <blockquote>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <p>{{paragraph.content}}</p>
                  <small>{% if paragraph.author == user %}You {% else %}{{paragraph.author}} {% endif %} ({{paragraph.created_datetime|naturaltime}}) </small>


                  <div>
                    <span class="badge" id="badge-{{paragraph.id}}">{{paragraph.likes}}</span>
                    {% if user.is_authenticated %}
                      {% if paragraph|liked_by:user %}
                        <button class="btn btn-xs btn-info btn-like" state="liked"><span class="glyphicon glyphicon-heart btn-glyph"></span><span class="like-text"> Liked</span></button>
                      {% else %}
                        <button class="btn btn-xs btn-info btn-like" state="unliked"><span class="glyphicon glyphicon-heart-empty btn-glyph"></span><span class="like-text"> Like</span></button>
                      {% endif %}

                      {% if not paragraph.end %}
                        <button href="#" class="btn btn-xs btn-success btn-add"><span class="glyphicon glyphicon-plus btn-glyph"></span> Add Below</button>
                      {% endif %}
                    {% else %}
                      <p class="pull-left text-muted text-small">   Log in/register to rate/add!</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </blockquote>
          </div>

          {% endfor %}

        <!-- Carousel Buttons Next/Prev -->
        {% if paragraphs|length > 1 %}
          <a data-slide="prev" href="#quote-carousel{{paragraphs.0.id}}" class="left carousel-control"><i class="fa fa-chevron-left vcenter-transform"></i></a>
          <a data-slide="next" href="#quote-carousel{{paragraphs.0.id}}" class="right carousel-control"><i class="fa fa-chevron-right vcenter-transform"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
