{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{story.slug}} {% endblock %}

{% block css_imports %}
  <link href="{% static 'css/stories.css' %}" rel="stylesheet"></link>
{% endblock %}


{% block body %}

  {% if story%}

  <h1>{{story.title}}</h1>
  <a class="text-muted" href="#"><em>by {{story.author}}</em></a>

  {% include 'story_block.html' %}

  {% else %}
    <h2 class="text-center text-white">Sorry - we couldn't find the story you're looking for.</h2>
  {% endif %}

{% endblock %}


{% block js_imports %}
  <script src="{% static 'js/storyCarousel.js' %}"></script>
{% endblock %}
