.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.background-red {
  background-color: #F27C4F;
}

.no-border {
  border: 0px;
  border-radius: 0px;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

/* search bar stuff */
.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

.jumbotron {
  padding: 0px 0px;
  height: 350px;
  background-color: white;
}

#explanation-gif {
  height:100%;
}

#jumbotron-container {
  height: 100%;
}

#main-content {
  padding: 40px 0px;
}

#categories-section {
  background-color: white;
  padding: 10px 20px;
  vertical-align: center;
}

#categories-list li {
  display: inline;
  padding-right: 20px;
  white-space: nowrap;

}



/*
.story-item {
  position: relative;
  display: block;
  background-color: white;
  width: auto;
  height: 100px;
  padding: 20px 10px;
}

.story-item div {
  display: inline-block;
  -webkit-transform: translate(0%, -15%);
  transform: translate(0%, -15%);
}

.story-item .story-item-title {
  left: 0px;
  width: 25%;
  text-align: center;
  vertical-align: middle;
}

.story-item .story-item-content {
  height: auto;
  width: 50%;
  padding: 10px 30px;
  text-overflow: ellipsis;
}

.story-item .story-item-favourites {
  right: 0px;
  width: 20%;
  font-size: 26px;
  text-align: center;
}*/

.story-item {
  text-decoration: none;
  background-color: white;
  width: auto;
  height: 100px;
  margin: 0px;
  overflow: hidden;
}

.story-item .story-item-title {
  height: 100%;
  width: 25%;
  text-align: center;
  padding: 0px 20px;
}

.story-item-title h4 {
  max-height: 41px;
  text-overflow: ellipsis;
}

.story-item-favourites {
  font-size: 30px;
  color: gold;
}

.story-item-content {
  width: 60%;
}
