#story-title {
  margin: 30px 0px;
}

.carousel
{
  padding: 0px 0px 0px 0px;
}

/* Control buttons  */
.carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin: 0px 0px;
}
/* Previous button  */
.carousel .carousel-control.left
{
  left: -31px; /* -12px */
}
/* Next button  */
.carousel .carousel-control.right
{
  right: -12px !important;
}

/* Changes the color of the indicators */
.carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.carousel .carousel-indicators .active
{
  background: #333333;
}
/* End carousel */

.item {
  background-color: white;
  margin: 0px 10%;
}

.btn-glyph, .like-text {
  pointer-events: none;
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

  .carousel .carousel-indicators {
    bottom: -20px !important;
  }
  .carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
  .carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
}
